img {
  pointer-events: none;
}

/* adding class to remove border from table , td, th as per UI discussion on 3 sprint */
.mce-item-table {
  border: none;
}
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  padding: 1px 2px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='4%2c 6' stroke-dashoffset='9' stroke-linecap='round'/%3e%3c/svg%3e");
  border: none !important;
}
